# Google Gemini Configuration
GOOGLE_API_KEY=your_google_api_key_here
GEMINI_MODEL_NAME=gemini-2.5-flash-lite

# Chroma Local Configuration
CHROMA_PATH=./data/vector_db
COLLECTION_NAME=mf_faq_collection

# Embedding Model Configuration
EMBEDDING_MODEL_NAME=BAAI/bge-base-en-v1.5
